@import "tailwindcss";

@theme {
  /* We map the Tailwind "font-sans" to our variable from layout.tsx */
  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif;

  /* We map the Tailwind "font-serif" to our Lora variable */
  --font-serif: var(--font-serif), ui-serif, Georgia, serif;
}
:root {
  --background: #fafafa;
  --foreground: #171717;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  /* Standard CSS equivalents for "antialiased" */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
